@model IEnumerable<Projekt_Teknologji_dotNet.Models.Tipi>
@{
    ViewBag.Title = "AlbaRent- Cilesi dhe siguri!";
}

<div class="Header-content">
    <div class="content">
        <div class="container">
            <h1>ALBARENT</h1>
            <h2>Albarent. Cilesi dhe siguri me makinat me te mira ne treg dhe cmime konkurruese.</h2>
            @Html.ActionLink("Dergo nje mesazhe", "Contact", "Home", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="main-content">
    <div class="max-width-c">
        <h2>Katalogu i makinave</h2>
        <div class="katalogu-content">
            @foreach (var item in Model)
            {
            <div class="Tip-cart">
                <div class="img-content">
                    <img src="~/Content/Imazhet/Uploaded/@Html.DisplayFor(modelItem => item.Ikona )" alt="@item.Emri" />
                </div>
                <div class="ActionLink-content">
                    <a href="Makinats/Index?tipi=@item.Emri">@item.Emri</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>